<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author    Sorciento <contact@sorciento.com>
 * @copyright 2023-present Sorciento
 * @license   https://opensource.org/licenses/MIT The MIT License
 * @link      https://www.sorciento.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <quickbosearchbar>
            <general>
                <enabled>Enable</enabled>
            </general>
        </quickbosearchbar>
    </default>
</config>
